<table>
 <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.name %></td>
    </tr>
      <tr>
        <td><%= professor.phone %></td>
          </tr>
          	  <tr>
        <td><%= professor.email%></td>
          </tr>
  	  <tr>
  	  	<td>===============================================================</td>
  	  	  </tr>

<% end %>


</table>
<%= link_to 'Back', professors_path %>