<table>
 <% @enterprises.each do |enterprise| %>
      <tr>
        <td><%= enterprise.fantasyname %></td>
    </tr>
      <tr>
        <td><%= enterprise.address %></td>
          </tr>
          	  <tr>
        <td><%= enterprise.fone %></td>
          </tr>
          	  <tr>
        <td><%= enterprise.obs %></td>
  </tr>
  	  <tr>
  	  	<td>===============================================================</td>
  	  	  </tr>

<% end %>


</table>