<nav>
	<ul>
		<h3> Seja bem-vindo, Visitante! </h3>
		<li><%= link_to t('layout.signup'), new_professor_path %> </li>
		<li><%= link_to t('layout.signin'), new_professor_sessions_path %> </li>
	</ul>
</nav>			